<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>
<body>
[[${pageinfo}]]
<hr>

<tr th:each='CQuestion : ${pageinfo.list}'>
[[${CQuestion.CQNum}]]
<a th:href="@{/cquestion/cquestion(CQNum=${CQuestion.CQNum})}"><td th:text="${CQuestion.Title}"></td></a>
<br>
</tr>
<button type='button' id='add'>질문작성</button>
<script src='/js/CQuestionList.js'></script>
</body>
</html>