<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>
<body>
[[${AllData}]]
<hr>

<tr th:each='CQuestion : ${AllData.list}'>
<hr>
[[${CQuestion}]]
<hr>
[[${CQuestion.CQNum}]]
[[${CQuestion.CRQNum}]]
<span th:if="@{ ${CQuestion.CRQNum == 0} }">
<a th:href="@{/cquestion/cquestion(CQNum=${CQuestion.CQNum})}"><td th:text="${CQuestion.Title}"></td></a>
</span>

<span th:if="@{ !${CQuestion.CRQNum == 0} }">
<a th:href="@{/cquestion/crequestion(CRQNum=${CQuestion.CRQNum})}"><td th:text="${CQuestion.Title}"></td></a>
</span>

<br>
[[${CQuestion.Title}]]
</tr>
<button type='button' id='add'>질문작성</button>
<script src='/js/CQuestionList.js'></script>
</body>
</html>