<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<link rel='stylesheet' href='/css/Nav.css'>
</head>
<body>

<div th:replace="~{/thymeleaf/Nav/Nav.html :: nav}"></div>

<div>
	<p>제목 : [[${CReQuestion.Title}]]</p>
	<p>게시일 : [[${CReQuestion.RecDate}]]</p>
	<p>작성자 : [[${CReQuestion.AuthorNick}]]</p>
	
</div>
<hr>
<p th:utext="${CReQuestion.Contents}"></p>

<hr>

<script src='/js/Nav.js'></script>
</body>
</html>