<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commision.Mapper.CExplainMapper">
        
        <insert id = 'AddCExplain'
        parameterType = 'commision.Vo.CExplain'>
        
        INSERT INTO CExplain (CNum, Painter, Title, Introduce_C, Contents_C, Thumbnail, Price, Slot)
        values
        (
        COMMISION_SEQ.NEXTVAL,
        #{Painter},
        #{Title},
        #{Introduce_C},
        #{Contents_C},
        #{Thumbnail},
        #{Price},
        #{Slot}
		)
        </insert>
        
        <insert id = 'AddCExplainPic'
        parameterType = 'commision.Vo.CExplainPic'>
        
        INSERT INTO CExplainPic (UserNick, UserEmail, UserPwd)
        values
        (
        #{UserNick},
        #{UserEmail},
        #{UserPwd}
		)
        </insert>
        
        <select id = 'EmailCheck'
        parameterType = 'commision.Vo.CUser'
        resultType = 'commision.Vo.CUser'>
        
        SELECT UserEmail FROM CUser WHERE UserEmail = #{UserEmail}
        
        </select>
</mapper>