<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commision.Mapper.CExplainMapper">
        
        <insert id = 'AddCExplain'
        parameterType = 'commision.Vo.CExplain'>
        
        INSERT INTO CExplain (CNum, Painter, PainterEmail, Title, Introduce_C, Contents_C, Preview, Price, Slot)
        values
        (
        COMMISION_SEQ.NEXTVAL,
        #{Painter},
        #{PainterEmail},
        #{Title},
        #{Introduce, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{Contents, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{Preview},
        #{Price},
        #{Slot}
		)
        </insert>
        
        <insert id = 'AddCExplainPic'
        parameterType = 'commision.Vo.CExplainPic'>
        
        INSERT INTO CExplainPic (CPicNum, CNum, CPicName)
        VALUES
        (
        	<foreach collection="CPicName" item="pic" index="index" separator="union all">
                COMMISIONPIC_SEQ.NEXTVAL, (SELECT MAX(CNum) FROM CExplain), #{pic}
           </foreach>
        ) 
        </insert>
        
</mapper>