<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commision.Mapper.CExplainMapper">
        
        <resultMap id="CExplainResultMap" type="commision.Vo.CExplain">
        	<result property="Contents" column="Contents_C" jdbcType="CLOB" javaType="java.lang.String"/>
        	<result property="Introduce" column="Introduce_C" jdbcType="CLOB" javaType="java.lang.String"/>
        </resultMap>
        
        <insert id = 'AddCExplain'
        parameterType = 'commision.Vo.CExplain'>
        
        INSERT INTO CExplain (CNum, Painter, PainterTag, Title, Introduce_C, Contents_C, Preview, Price, Slot)
        values
        (
        COMMISION_SEQ.NEXTVAL,
        #{Painter},
        #{PainterTag},
        #{Title},
        #{Introduce, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{Contents, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{Preview},
        #{Price},
        #{Slot}
		)
        </insert>
        
        <insert id = 'AddCExplainPic'
        parameterType = 'java.util.List'>
        
        INSERT
        INTO CExplainPic
        (
        CPicNum
        ,CNum
        ,CPicName
        )
        SELECT COMMISIONPIC_SEQ.NEXTVAL,(SELECT MAX(CNum) FROM CExplain), A.*
        FROM
        (
        SELECT * FROM
        (
        <foreach collection="list" item="pic" separator="UNION ALL">
        SELECT #{pic} FROM DUAL
        </foreach>
		)
		) A
  		</insert>
        
        <insert id = 'AddCTags'
        parameterType = 'commision.Vo.CExplain'>
        INSERT
        INTO CTags
        (
        CNum
        ,CTag
        )
        <foreach collection="Tags" item="tag" separator="UNION ALL">
        	SELECT MAX(CNum), #{tag} FROM CEXPLAIN
        </foreach>
        </insert>
        
        <select id='MainCExplain'
        resultType='commision.Vo.CExplain'>
        	SELECT CNum, Painter, PainterEmail, Title, Preview, Price, Tags
        </select>
        
        <select id='GetCExplain'
        parameterType = 'Integer'
        resultMap = 'CExplainResultMap'>
        SELECT CNum, Title, Introduce_C, Contents_C, Painter, PainterTag, Preview, Price, Slot, Permit FROM CExplain WHERE CNum = #{CNum}
        </select>
        
        <select id='AllCExplain'
        resultType = 'commision.Vo.CExplain'>
        SELECT CNum, Title, Painter, PainterTag, Preview FROM CExplain WHERE permit = 1 order by CNum DESC
        </select>
        
        <select id = 'HomePageCExplain'
        resultType='commision.Vo.CExplain'>
        SELECT * FROM (SELECT CNum, Title, Painter, PainterTag, Preview FROM CExplain WHERE permit = 1 order by CNum DESC) WHERE <![CDATA[ ROWNUM <= 15 ]]>
        </select>
        
        <select id = 'PermitZeroCExplain'
        resultMap = 'CExplainResultMap'>
        SELECT CNum, Painter, PainterTag, Title, Introduce_C, Contents_C, Preview FROM CExplain WHERE permit = 0 order by CNum DESC
        </select>
        
        <select id = 'PermitTwoCExplain'
        resultMap = 'CExplainResultMap'>
        SELECT CNum, Painter, PainterTag, Title, Introduce_C, Contents_C, Preview FROM CExplain WHERE permit = 2 order by CNum DESC
        </select>
        
        <update id = 'PermitCExplain'
        parameterType='Integer'>
        UPDATE CExplain SET Permit = 1 WHERE CNum = #{CNum}
        </update>
        
        <update id = 'DenyCExplain'
        parameterType='Integer'>
        UPDATE CExplain SET Permit = 2 WHERE CNum = #{CNum}
        </update>
        
        <select id = 'GetTags'
        parameterType='Integer'
        resultType='String'>
        SELECT CTag FROM CTags WHERE CNum = #{CNum}
        </select>
        
        <select id = 'MyPageCExplain'
        parameterType='String'
        resultType='commision.Vo.CExplain'>
        SELECT CNum, Preview, Title, Permit	 FROM CExplain WHERE PainterTag = #{PainterTag}
        </select>
        
</mapper>