<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commision.Mapper.CQuestionMapper">
        
        <resultMap id="CQuestionResultMap" type="commision.Vo.CQuestion">
        	<result property="Contents" column="Contents_C" jdbcType="CLOB" javaType="java.lang.String"/>
        </resultMap>
        
        <resultMap id="CReQuestionResultMap" type="commision.Vo.CReQuestion">
        	<result property="Contents" column="Contents_C" jdbcType="CLOB" javaType="java.lang.String"/>
        </resultMap>
        
        <insert id = 'AddCQuestion'
        parameterType = 'commision.Vo.CQuestion'>
        
        INSERT INTO CQuestion (CQNum, Title, Contents_C, RecDate, Author, AuthorNick)
        values
        (
        COMMISIONQUESTION_SEQ.NEXTVAL,
        #{Title},
        #{Contents, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{RecDate},
        #{Author},
        #{AuthorNick}
		)
        </insert>
        
        <insert id = 'AddCReQuestion'
        parameterType = 'commision.Vo.CReQuestion'>
        
        INSERT INTO CReQuestion (CQNum, CRQNum, Title, Contents_C, RecDate, Author, AuthorNick)
        values
        (
        #{CQNum},
        COMMISIONREQUESTION_SEQ.NEXTVAL,
        #{Title},
        #{Contents, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{RecDate},
        #{Author},
        #{AuthorNick}
		)
        </insert>
        
        <select id='GetCQuestion'
        parameterType = 'Integer'
        resultMap = 'CQuestionResultMap'>
        SELECT CQNum, Title, Contents_C, RecDate, Author, AuthorNick FROM CQuestion WHERE CQNum = #{CQNum}
        </select>
        
        <select id='GetCReQuestion'
        parameterType = 'Integer'
        resultMap = 'CReQuestionResultMap'>
        SELECT CRQNum, Title, Contents_C, RecDate, Author, AuthorNick FROM CReQuestion WHERE CRQNum = #{CRQNum}
        </select>
        
        <select id='AllCQuestion'
        resultMap = 'CQuestionResultMap'>
        SELECT CQNum, Title, RecDate, Author, AuthorNick FROM CQuestion 
        </select>
        
        <select id='AllCReQuestion'
        resultMap = 'CReQuestionResultMap'>
        SELECT CQNum, CRQNum, Title, RecDate, Author, AuthorNick FROM CReQuestion 
        </select>
        
        <select id='AllData'
        resultMap = 'CReQuestionResultMap'>
        SELECT CQNum, Title, Recdate, Author, Authornick, NULL AS CRQNum FROM CQuestion
		UNION ALL
		SELECT CQNum, Title, Recdate, Author, Authornick, CRQNum FROM CREQuestion
		ORDER BY CQNum desc, CRQNum desc
        </select>
        
        <select id='HomePageCQuestion'
        resultType='commision.Vo.CReQuestion'>
        SELECT * FROM (
    	SELECT CQNum, Title, Recdate, Author, Authornick, NULL AS CRQNum FROM CQuestion
    	UNION ALL
    	SELECT CQNum, Title, Recdate, Author, Authornick, CRQNum FROM CREQuestion
    	ORDER BY CQNum DESC, CRQNum DESC
		) WHERE <![CDATA[ ROWNUM <= 5 ]]>
        </select>
        
</mapper>