<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commision.Mapper.CQuestionMapper">
        
        <resultMap id="CQuestionResultMap" type="commision.Vo.CQuestion">
        	<result property="Contents" column="Contents_C" jdbcType="CLOB" javaType="java.lang.String"/>
        </resultMap>
        
        <insert id = 'AddCQuestion'
        parameterType = 'commision.Vo.CQuestion'>
        
        INSERT INTO CQuestion (CQNum, Title, Contents_C, RecDate, Author, AuthorNick)
        values
        (
        COMMISIONQUESTION_SEQ.NEXTVAL,
        #{Title},
        #{Contents, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{RecDate},
        #{Author},
        #{AuthorNick}
		)
        </insert>
        
        <insert id = 'AddCReQuestion'
        parameterType = 'commision.Vo.CReQuestion'>
        
        INSERT INTO CReQuestion (CQNum, CRQNum, Title, Contents_C, RecDate, Author, AuthorNick)
        values
        (
        #{CQNum},
        COMMISIONREQUESTION_SEQ.NEXTVAL,
        #{Title},
        #{Contents, jdbcType=CLOB, typeHandler=org.apache.ibatis.type.ClobTypeHandler},
        #{RecDate},
        #{Author},
        #{AuthorNick}
		)
        </insert>
        
        <select id='GetCQuestion'
        parameterType = 'Integer'
        resultMap = 'CQuestionResultMap'>
        SELECT CQNum, Title, Contents_C, RecDate, Author, AuthorNick FROM CQuestion WHERE CQNum = #{CQNum}
        </select>
        
        <select id='AllCQuestion'
        resultMap = 'CQuestionResultMap'>
        SELECT CQNum, Title, RecDate, Author, AuthorNick FROM CQuestion 
        </select>
        
</mapper>