<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commision.Mapper.UserMapper">
        
        <select id='dologin'
        resultType='commision.Vo.CUser'>
        
        select UserEmail, UserPwd, UserRole, UserNick, UserTag from CUser where UserEmail=#{UserEmail}
        
        </select>
        
        <update id = 'UserUpdate'
        parameterType='commision.Vo.CUser'>
        
        UPDATE CUser
        SET
        UserProfilePic = #{UserProfilePic},
        UserBackgroundPic = #{UserBackgroundPic},
        UserTag = #{UserTag},
        UserExplain = #{UserExplain}
        WHERE
        UserEmail = #{UserEmail}
        </update>
        
        <update id = 'CExplainUpdate'
        parameterType='commision.Vo.CUser'>
        
        UPDATE CExplain
        SET
        UserProfilePic = #{UserProfilePic},
        UserBackgroundPic = #{UserBackgroundPic},
        UserTag = #{UserTag},
        UserExplain = #{UserExplain}
        WHERE
        UserEmail = #{UserEmail}
        </update>
        
        <select id = 'GetUser'
        parameterType='String'
        resultType='commision.Vo.CUser'>
        SELECT UserNick, UserEmail, UserProfilePic, UserBackgroundPic, UserExplain, UserTag FROM CUser WHERE UserTag = #{UserTag}
        </select>
        
        <select id = 'GetUserEmail'
        parameterType='String'
        resultType='commision.Vo.CUser'>
        SELECT UserNick, UserEmail, UserProfilePic, UserBackgroundPic, UserExplain, UserTag FROM CUser WHERE UserEmail = #{UserEmail}
        </select>
        
        <select id = 'GetProfile'
        parameterType='String'
        resultType='String'>
		SELECT UserProfilePic FROM CUser WHERE UserTag = #{UserTag}        
        </select>
        
        <select id = 'GetBackground'
        parameterType='String'
        resultType='String'>
		SELECT UserBackgroundPic FROM CUser WHERE UserTag = #{UserTag}        
        </select>
</mapper>