<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>
<body>
[[${pageinfo}]]
<hr>
<a th:if="${session.role=='ADMIN'}">
<button type='button' id='add'>공지작성</button>
</a> 
<tr th:each="CNotice : ${pageinfo.list}">
<div>
[[${CNotice.CNoticeNum}]]
<a th:href="@{/cnotice/cnotice(CNoticeNum=${CNotice.CNoticeNum})}"><td th:text="${CNotice.Title}"></td></a>
[[${CNotice.RecDate}]]
[[${CNotice.AuthorNick}]]
[[${CNotice.Hits}]]
</div>
</tr>

<hr>
<button type='button' id='add'>공지작성</button>

<script src='/js/CNoticeList.js'></script>
<script src='/js/Nav.js'></script>
</body>
</html>