<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JoinForm</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="../js/JoinForm.js"></script>
</head>
<body>
<div>
	<div>
		<div class='title'>
		회원가입
		</div>
		
		<form id='CUser'>
			<div class='sub_title'>
			이메일
			</div>
			<input type='email' name='UserEmail' id='UserEmail' required>
			<label id='EmailCheck'></label>
			
			<br>
			
			<div class='sub_title'>
			비밀번호
			</div>
			<input type='password' name='UserPwd' id='UserPwd' required>
			<label id='PwdCheck1'></label>
			
			<br>
			
			<div class='sub_title'>
			비밀번호 확인
			</div>
			<input type='password' id='PwdCheck' required>
			<label id='PwdCheck2'></label>
			
			<button type='submit' id='join'>가입</button>
		</form>
		
	</div>
</div>
</body>
</html>