<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JoinForm</title>
</head>
<body>
<div>
	<div>
		<div class='title'>
		회원가입
		</div>
		
		<form>
		<div class='sub_title'>
		아이디
		</div>
		<input type='text' name='UserId'>
		<br>
		
		<div class='sub_title'>
		비밀번호
		</div>
		<input type='password' name='UserPwd'>
		<br>
		<div class='sub_title'>
		비밀번호 확인
		</div>
		<input type='password' name=''>
		<br>
		
		<div class='sub_title'>
		이메일
		</div>
		<input type='email' name='UserEmail'>
		<button>인증</button>
		
		<button>가입</button>
		</form>
		
	</div>
</div>
</body>
</html>