<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login_Form</title>
<link href='/css/LoginForm.css' rel='stylesheet'>
</head>
<body>

<div>
	<div class = ''>
		<div class = 'side_left'>
		</div>
		
		<div class = 'side_right'>
		
			<div class = 'login'>
				로그인
				<hr>
				<form id=''>
					<label class = 'login_txt'>
					ID
					</label>
					<input type='text' name='UserId'>
					
					<label class = 'login_txt'>
					PWD
					</label>
					<input type='password' name='UserPwd'>
					
					<button type='button'>로그인</button>
				</form>
				
			</div>
			
			<hr>
			
			<div class = 'join'>
				<button>
				a
				</button>
				
				<button>
				a
				</button>
			</div>
		</div>
		
	</div>

</div>

</body>
</html>