<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login_Form</title>
<link href='/css/Nav.css' rel='stylesheet'>
<link href='/css/LoginForm.css' rel='stylesheet'>
 </head>
<body>
<div th:replace="/thymeleaf/Nav/Nav.html :: nav"></div>

<div class = 'form'>
	<div class = 'form_1'>
		<div class = ''>
		<div class = 'title'>
			로그인
		</div>
			<hr>
			
			<div class='login_form'>
				<form id='login_data' action='/doLogin' method='post'>
					<label class = 'login_txt'>Email</label>
					<label class='pil'>*</label>
					
					<br>
					
					<input type='email' name='UserEmail'>
					
					<br>
					
					<label class = 'login_txt'>Pwd</label>
					<label class='pil'>*</label>
					
					<br>
					
					<input type='password' name='UserPwd'>
					
					<button type='submit'>hi</button>
					<button type='button' id='login-btn'>로그인</button>
					
				</form>
				
				<br>
					
				<label class = 'help'>
				<a href=''>로그인이 안돼요</a>
				</label>
				
			</div>
		
		</div>
		
		<hr>
		
		<div class = 'join'>
			<button type='button' id='join-btn'>
			회원가입
			</button>
			
			<button>
			a
			</button>
		</div>
	</div>
	
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/Nav.js"></script>
<script src="/js/LoginForm.js"></script>
</body>
</html>