<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login_Form</title>
<link href='/css/LoginForm.css' rel='stylesheet'>
 </head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>

<div class = 'form'>
	<div class = 'form_1'>
		<div class = ''>
		<div class = 'title'>
			로그인
		</div>
			<hr>
			
			<div class='login_form'>
				<form id=''>
					<label class = 'login_txt'>ID</label>
					<label class='pil'>*</label>
					
					<br>
					
					<input type='text' name='UserId'>
					
					<br>
					
					<label class = 'login_txt'>PWD</label>
					<label class='pil'>*</label>
					
					<br>
					
					<input type='password' name='UserPwd'>
					
					<button type='button'>로그인</button>
					
				</form>
				
				<br>
					
				<label class = 'help'>
				<a href=''>로그인이 안돼요</a>
				</label>
				
			</div>
		
		</div>
		
		<hr>
		
		<div class = 'join'>
			<button>
			회원가입
			</button>
			
			<button>
			a
			</button>
		</div>
	</div>
	
</div>
</body>
</html>