<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<link rel='stylesheet' href='/css/Nav.css'>
</head>
<body>


<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>

[[${CUser}]]
<br>
<!-- 프로필 이미지 -->
<img th:src="@{'/pics/' + ${CUser.UserProfilePic} }" width='100px'>
<!-- 배경 이미지 -->
<img th:src="@{'/pics/' + ${CUser.UserBackgroundPic} }" width='100px'>

<!-- 닉네임 -->
<span th:text="${CUser.UserNick}"></span>
<!-- 유저식별용 코드 -->
<span th:text="${'@' + CUser.UserTag}"></span>
<!-- 자신의 설명 -->
<span th:text="${CUser.UserExplain}"></span>

<hr>
내 커미션 게시글
<br>
<span th:each='CExplain : ${MyCExplain.list}'>
	<span th:text = '${CExplain.CNum}'></span>
	
	
	<a th:href="@{/cexplain/cexplain(CNum=${CExplain.CNum})}">
	<span th:text = '${CExplain.Title}'></span>
	<img th:src="@{'/pics/' + ${CExplain.Preview} }" width='50px'>
	</a>
	
	<span th:if = '@{${CExplain.Permit} == 0}'>승인 대기중</span>
	<span th:if = '@{${CExplain.Permit} == 1}'>승인 완료</span>
	<span th:if = '@{${CExplain.Permit} == 2}'>승인 거부</span>
<br>
</span>

<span th:if="${session.role == 'ROLE_ADMIN'}">
<br>
<button type='button' id='update'>수정</button>

<hr>

<br>
승인목록
<br>

<span th:each='Permit : ${permit.list}'>
	<div>
		<span th:text = '${Permit.CNum}'></span>
		<a th:href="@{/cexplain/cexplain(CNum=${Permit.CNum})}" th:text='${Permit.Title}'></a>
	</div>
</span>


<br>
보류/거부 목록
<br>

<span th:each='Deny : ${deny.list}'>
	<div>
		<span th:text = '${Deny.CNum}'></span>
		<a th:href="@{/cexplain/cexplain(CNum=${Deny.CNum})}" th:text='${Deny.Title}'></a>
	</div>
</span>
</span>


<script src="/js/Nav.js"></script>
<script src='/js/MyPage.js'></script>
</body>
</html>