<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<link rel='stylesheet' href='/css/Nav.css'>
</head>
<body>


<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>

[[${CUser}]]
<br>
<!-- 프로필 이미지 -->
<img th:src="@{'/pics/' + ${CUser.UserProfilePic} }" width='100px'>
<!-- 배경 이미지 -->
<img th:src="@{'/pics/' + ${CUser.UserBackgroundPic} }" width='100px'>

<!-- 닉네임 -->
<span th:text="${CUser.UserNick}"></span>
<!-- 유저식별용 코드 -->
<span th:text="${'@' + CUser.UserTag}"></span>
<!-- 자신의 설명 -->
<span th:text="${CUser.UserExplain}"></span>
<button type='button' id='update'>수정</button>
<hr>
내 커미션 게시글
<br>
<span th:each='CExplain : ${MyCExplain.list}'>
	<span th:text = '${CExplain.CNum}'></span>
	
	
	<a th:href="@{/cexplain/cexplain(CNum=${CExplain.CNum})}">
	<span th:text = '${CExplain.Title}'></span>
	<img th:src="@{'/pics/' + ${CExplain.Preview} }" width='50px'>
	</a>
	
	<span th:if = '@{${CExplain.Permit} == 0}'>승인 대기중</span>
	<span th:if = '@{${CExplain.Permit} == 1}'>승인 완료</span>
	<span th:if = '@{${CExplain.Permit} == 2}'>승인 거부</span>
<br>
</span>
<hr>
내가 신청한 목록
<br>
<span th:each='MyOrder : ${MyOrder}'>
	<span th:text = "${MyOrder.CNum}+' | '"></span>
	
	<a th:href="@{/cexplain/orderdata(ACNum=${MyOrder.ACNum})}">
	<span th:text = "${MyOrder.Title}"></span>
	</a>
	
	<span th:text = "' | ' + ${MyOrder.Painter}+' | '"></span>
	<span th:text = "'@'+${MyOrder.PainterTag}"></span>
	
	<span th:if='@{ ${MyOrder.Permit} == 0}'>승인 대기중</span>
	<span th:if='@{ ${MyOrder.Permit} == 1}'>수락!</span>
	<span th:if='@{ ${MyOrder.Permit} == 2}'>거부</span>
	<span th:if='@{ ${MyOrder.Permit} == 3}'>작품 전달완료</span>
</span>
<hr>
신청받은 목록
<br>
<span th:each='TakeOrder : ${TakeOrder}'>
	<span th:text = "${TakeOrder.CNum}+' | '"></span>
	
	<a th:href="@{/cexplain/orderdata(ACNum=${TakeOrder.ACNum})}">
	<span th:text = "${TakeOrder.Title}"></span>
	</a>
	
	<span th:text = "' | ' + ${TakeOrder.Author}+' | '"></span>
	<span th:text = "'@'+${TakeOrder.AuthorTag}"></span>
	
	<span th:if='@{ ${TakeOrder.Permit} == 0}'>승인 대기중</span>
	<span th:if='@{ ${TakeOrder.Permit} == 1}'>수락!</span>
	<span th:if='@{ ${TakeOrder.Permit} == 2}'>거부</span>
	<span th:if='@{ ${TakeOrder.Permit} == 3}'>작품 전달완료</span>
</span>
<hr>

<span th:if="${session.role == 'ROLE_ADMIN'}">
승인목록
<br>

<span th:each='Permit : ${permit}'>
	<div>
		<span th:text = '${Permit.CNum}'></span>
		<a th:href="@{/cexplain/cexplain(CNum=${Permit.CNum})}" th:text='${Permit.Title}'></a>
	</div>
</span>
<hr>




보류/거부 목록
<br>

<span th:each='Deny : ${deny}'>
	<div>
		<span th:text = '${Deny.CNum}'></span>
		<a th:href="@{/cexplain/cexplain(CNum=${Deny.CNum})}" th:text='${Deny.Title}'></a>
	</div>
</span>
</span>


<script src="/js/Nav.js"></script>
<script src='/js/MyPage.js'></script>
</body>
</html>