<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.20.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.20.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDnUlprmgp9667t70jaf6-7kqzeXGmjWvE",
    authDomain: "commision-cdb67.firebaseapp.com",
    projectId: "commision-cdb67",
    storageBucket: "commision-cdb67.appspot.com",
    messagingSenderId: "686375553449",
    appId: "1:686375553449:web:3945fc7636846cc68adcb8",
    measurementId: "G-X49SC3VH74"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</head>
<body>

</body>
</html>