<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HomePage</title>
<link rel='stylesheet' href='/css/HomePage.css'>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>

<div class = 'back_'>
	<!-- 화면 넘어가면서 추천해줄 화면 -->
	<div class = 'recommend'>
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
	</div>
	
	<button type='button' id='CExplain'>CExplain</button>
		
	<!-- 최신 등록 ~개중에 랜덤으로 15개 뽑아서  -->
	<!-- th:each로 15개를 반복문으로 돌리면 될것 -->
	<div class='grid-back'>
		<div class = 'grid1'>
		
		<tr th:each='CExplain : ${CExplain}'>
			<a th:href='@{/cexplain/cexplain(CNum = ${CExplain.CNum} )}'>
				<div class = 'grid-item'>
					<img th:src="@{ '/pics/' + ${CExplain.Preview} }" width='150' height='150'>
					<br>
					<span th:text='${CExplain.Title}'></span>
					<br>
					<span th:text='${CExplain.Painter}'></span>
				</div>
			</a>
		</tr>
		</div>
	</div>
	
	<hr>
	<div class = notice>
	<button type='button' id='CNotice'>CNotice</button>
	<br>
	<tr th:each = 'CNotice : ${CNotice}'>
		<span th:text = '${CNotice.CNoticeNum}'></span>
		<a th:href = '@{/cnotice/cnotice(CNoticeNum = ${CNotice.CNoticeNum} )}'>
		<span th:text = '${CNotice.Title}'></span>
		</a>
		<span th:text = '${CNotice.RecDate}'></span>
		<span th:text = '${CNotice.AuthorNick}'></span>
		<span th:text = '${CNotice.Hits}'></span>
		<br>
	</tr>
	
	</div>
	<hr>
	
	<div class = question>
	<button type='button' id='CQuestion'>CQuestion</button>
	<tr th:each = 'CQuestion : ${CQuestion}'>
		<span th:text = '${CQuestion.CQNum}'></span>
		
		<span th:if="@{ ${CQuestion.CRQNum == 0} }">
		<a th:href="@{/cquestion/cquestion(CQNum=${CQuestion.CQNum})}"><td th:text="${CQuestion.Title}"></td></a>
		</span>

		<span th:if="@{ !${CQuestion.CRQNum == 0} }">
		<a th:href="@{/cquestion/crequestion(CRQNum=${CQuestion.CRQNum})}"><td th:text="${CQuestion.Title}"></td></a>
		</span>
		
		<span th:text = '${CQuestion.RecDate}'></span>
		<span th:text = '${CQuestion.AuthorNick}'></span>
		<br>
	</tr>
	
	</div>
	
</div>
<script src="/js/Nav.js"></script>
<script src="/js/HomePage.js"></script>
</body>
</html>