<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>a</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<link href="/css/CExplainAdd.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
<div>
<form id='cexplaindata'>

<!-- 썸네일 -->
<div>
<input type='file' id='Thumbnail' name='Thumbnail' onchange='readImg(this);' style='display:none;' required>
<label for='Thumbnail'>
<img id='preview' src ='' width='100' height='100' class='preview_img'>
</label>
</div>

<br>

<!-- 제목, 가격, 태그, 기본설명 -->
<div>
<input type='text' id='Title' name='Title' placeholder='Title'>
<br>
<input type='text' id='Tags' name='Tags' placeholder='Tags'>
<br>
<input type='number' id='Price' name='Price' placeholder='Price'>
<textarea id="Commision_Introduce" name='Introduce'></textarea>
</div>

<!-- 자세한설명. 사진첨부가능 -->
<textarea id="Commision_Contents" name='Contents'></textarea>



<button id='a' type='button'>a</button>
</form>
</div>

<script src='/js/CExplainAdd.js'></script>
</body>
</html>