<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>
[[${CExplain}]]
<hr>
글번호
<br>
[[${CExplain.CNum}]]
<hr>
작성자
<br>
[[${CExplain.Painter}]]
@[[${CExplain.PainterTag}]]
<hr>
제목
<br>
[[${CExplain.Title}]]
<br>
태그
<br>
<span th:each="tags : ${CExplain.Tags} ">
#[[${tags}]]
</span>
<hr>
간단한설명
<br>
<span th:utext='${CExplain.Introduce}'></span>
<hr>
가격 : [[${CExplain.Price}]]
<br>
잔여 슬롯 : [[${CExplain.Slot}]]
<br>
<span th:if="${session.tag == CExplain.painterTag}">
현재 신청갯수 : [[${CExplain.Orders}]]
</span>
<hr>
<img th:src="@{ '/pics/' + ${CExplain.Preview} }" width='200px' height='200px'>
<br>
자세한 설명
<span th:utext ='${CExplain.Contents}'></span>

<a th:if="${session.role == 'ROLE_ADMIN'}">
	<span id='pd' th:data-value='${CExplain.CNum}'>
		<button type='button' id='permit'>승인</button>
		<button type='button' id='deny'>보류 / 거부</button>
	</span>
</a>
<script src='/js/CExplain.js'></script>
<script src='/js/Nav.js'></script>
</body>
</html>