<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>a</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<link href="/css/CExplainAdd.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
<div>
<form id='cexplaindata'>

<!-- 데이터 상단 -->
<div>
	<!-- 썸네일 -->
	<div>
	<input type='file' id='Thumbnail' name='Thumbnail' onchange='readImg(this);' style='display:none;' required>
	<label for='Thumbnail'>
	<img id='preview' src ='' width='300' height='300' class='preview_img'>
	</label>
	</div>
	
	<br>
	
	<!-- 제목, 가격, 태그, 기본설명 -->
	<div>
	<input type='text' id='Title' name='Title' placeholder='Title'>
	<br>
	<textarea id="Commision_Introduce" name='Introduce'></textarea>
	<input type='number' id='Price' name='Price' placeholder='Price' min=0>
	<input type='number' id='Slot' name='Slot' placeholder='Slot' min=1>
	<br>
	<textarea id='Tags' name='Tags'
	placeholder='각 태그는 #으로 시작하며 공백으로 구분합니다&#10;
	ex) #예시 #커미션'></textarea>
	</div>
</div>

<!-- 데이터 하단 -->
<div>
<!-- 자세한설명. 사진첨부가능 -->
<textarea id="Commision_Contents" name='Contents'></textarea>
</div>


<button id='a' type='button'>a</button>
<button>b</button>
</form>
</div>

<script src='/js/CExplainAdd.js'></script>
</body>
</html>