<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>a</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
<form id='cexplaindata'>
<input type='text' name='Title'></input>
<textarea id="summernote" name='Contents' data-image-url="/php/upload.php"></textarea>
<button id='a' type='button'>a</button>
</form>

<script src='/js/CExplainAdd.js'></script>
</body>
</html>