<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>
<button type='button' id='add'>추가</button>

<tr th:each="CExplain : ${cexplain.list}">
<div>

[[${CExplain.CNum}]]
<img th:src="@{'/pics/' + ${CExplain.Preview} }" width='100px'>
<a th:href="@{/cexplain/cexplain(CNum=${CExplain.CNum})}"><td th:text="${CExplain.Title}"></td></a>
[[${CExplain.Painter}]]
<span th:text="@{'@'+ ${CExplain.PainterTag}}"></span>

<span th:if = '@{${CExplain.Permit} == 0}'>승인 대기중</span>
	<span th:if = '@{${CExplain.Permit} == 1}'>승인 완료</span>
	<span th:if = '@{${CExplain.Permit} == 2}'>승인 거부</span>
	
</div>
</tr>

<br>

<a href = '/cexplain/list'>
<button type='button'>First</button>
</a>
ㆍ
<span th:each="page: ${pages.pages}">
<a th:href = "@{/cexplain/list(page=${page})}" th:text='${page}'></a>
</span>
ㆍ
<a th:href="@{/cexplain/list(page=${pages.end})}">
<button type='button'>Last</button>
</a>
<script src="/js/Nav.js"></script>
<script src='/js/CExplainList.js'></script>
</body>
</html>