<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:include="/thymeleaf/Nav/Nav.html :: nav"></div>

<span th:each='MyOrder : ${myorder.list}'>
	<span th:text = "${MyOrder.CNum}+' | '"></span>
	
	<a th:href="@{/cexplain/orderdata(ACNum=${MyOrder.ACNum})}">
	<span th:text = "${MyOrder.Title}"></span>
	</a>
	
	<span th:text = "' | ' + ${MyOrder.Painter}+' | '"></span>
	<span th:text = "'@'+${MyOrder.PainterTag}"></span>
	
	<span th:if='@{ ${MyOrder.Permit} == 0}'>승인 대기중</span>
	<span th:if='@{ ${MyOrder.Permit} == 1}'>수락!</span>
	<span th:if='@{ ${MyOrder.Permit} == 2}'>거부</span>
	<span th:if='@{ ${MyOrder.Permit} == 3}'>작품 전달완료</span>
	<br>
</span>

<br>
<a href = '/cexplain/list'>
<button type='button'>First</button>
</a>
ㆍ
<span th:each="page: ${pages.pages}">
<a th:href = "@{/cexplain/list(page=${page})}" th:text='${page}'></a>
</span>
ㆍ
<a th:href="@{/cexplain/list(page=${pages.end})}">
<button type='button'>Last</button>
</a>
<script src="/js/Nav.js"></script>
<script src='/js/CExplainList.js'></script>
</body>
</html>