@charset "UTF-8";

nav {
  display: flex;
}

.back {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  position:relative;
  width:100%
}

.l {
	position: absolute;
	left:0;
	width:200px;	
}

.r {
	position: absolute;
	right:0;
	width:200px;
}

img {
	
  width: 50px;
}

.child {
  margin: 0 10px;
}
