<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>

<nav>
<div class='back'>
	<div class='left'>
		<div class='img'>
		<a href='/commision/home'>img</a>
		</div>
	</div>
	
	<div id='login_status' class='right'>
	
		<div class='dologin'>
		<a href='/sec/login'>로그인</a>
		</div>
		
		<div class='login_user'>
		유저정보
		<button type='button' id='logout'>로그아웃</button>
		</div>
	</div>
</div>
</nav>


<script src="/js/Nav.js"></script>
</html>