<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='/css/Nav.css'>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>

<nav>
<div class='back'>
	<div>
		<div class='child left'>
		<a href='/commision/home'>img</a>
		</div>
		<div class='child right'>
		<a href='/sec/login'>로그인</a>
		</div>
	</div>
	
	<div id='logined'>
	
	</div>
</div>
</nav>


<script src="/js/Nav.js"></script>
</html>